{% extends "RokBasketBundle::layout.html.twig" %}

{% block title %} Pregled terminov {% endblock %}

{% block termini %}
     {% for termin in termini %}
        <li {% if date(termin.datum) < date('-1day') %}style="background-color: #E6E6E6;"{% endif %}>
        <a href="{{ path('obiski', {'id':termin.id}) }}">{{ termin.datum|date('d.m.Y') }}</a></li>
    {% endfor %}
	
{% endblock %}

		
{% block tekst %}
	<h1 class="content-subhead">Izbran termin: {{ termini[app.request.get('id')-1].datum|date('d.m.y') }}</h1>
	<div>
    {% for pride in pridejo %}
		<div class="okvir pure-u-1-5 {{ pride.status != null ? pride.status : "neodlocen" }}" >
		{{  pride.user.imePriim }}</div>
	{% endfor %}
</div>
{% if  (date(termini[app.request.get('id')-1].datum) < date('-1day')) and status %}
<div style="padding-top: inherit;">
<h1 class="content-subhead">Spremeni svoj prihod:</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    <button type="submit" id="form_Nepridem" name="form[Nepridem]" class="pure-button nepride" style="background: rgb(223, 117, 20);">Nepridem</button>
    <button type="submit" id="form_Pridem" name="form[Pridem]" class="pride pure-button"  style="background: rgb(28, 184, 65);">Pridem</button>
    {{ form_row(form.termin) }}
{{ form_end(form) }}
</div>
{% endif %}

<footer class="footer" style="margin-top: 5em;">
<div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                    	<li>
<div class="legenda"  style="margin-top: inherit; background-color: antiquewhite">
	<h1 class="content-subhead">Legenda:</h1>
	<div class="pure-g">
        <div class="pure-u-1-4 okvir pride" >Prideš na basket</div>
        <div class="pure-u-1-4 okvir nepride">Ne prideš na basket</div>
        <div class="pure-u-1-4 okvir neodlocen">Se še nisem odločil</div>
    </div>
</div></li>
                        <li>Prijavljen kot {{ app.security.getToken().getUser().getUsername() }}</li>
                    </ul>
                </div>
</footer>

{% endblock %} 