{% extends "RokBasketBundle::layout.html.twig" %}

{% block title %} Pregled terminov {% endblock %}

{% block termini %}
     {% for termin in termini %}
        <li {% if termin.id == izbranTermin.getId() %}style="background-color: #a6afa6;"{% endif %}
         {% if date(termin.datum) < date('-1day') %}style="background-color: #E6E6E6;"{% endif %}>
        <a href="{{ path('obiski', {'id':termin.id}) }}">{{ termin.datum|date('d.m.Y') }}</a>
        <div class="termin-status {{ termin.status != null ? termin.status : "neodlocen" }}"></div></li>
    {% endfor %}
{% endblock %}

		
{% block tekst %}
	<h1 class="content-subhead">{{ izbranTermin.getDatum()|date('d.m.y') }}</h1>
	<div>
    {% for pride in pridejo %}
		<div class="okvir pure-u-1-5 {{ pride.status != null ? pride.status : "neodlocen" }}" >
		{{  pride.user.username }}</div>
	{% endfor %}
</div>
{% if  (date(izbranTermin.getDatum()) > date('-1day')) and status %}
<div style="padding-top: inherit;">
<h1 class="content-subhead">Spremeni svoj prihod:</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    <button type="submit" id="form_Nepridem" name="form[Nepridem]" class="pure-button nepride" style="background: rgb(223, 117, 20);">Nepridem</button>
    <button type="submit" id="form_Pridem" name="form[Pridem]" class="pride pure-button"  style="background: rgb(28, 184, 65);">Pridem</button>
    {{ form_row(form.termin) }}
{{ form_end(form) }}
</div>
{% endif %}
{% endblock %} 